/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation Bar */
.navbar {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #111;
}

.menu {
    float: right;
}

.menu a {
    margin: 0 15px;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.menu a:hover {
    border-bottom: 2px solid #111;
}

.menu .active {
    border-bottom: 2px solid #111;  /* Highlight the active page */
}

/* Main Section */
.main-content {
    text-align: center;
    padding: 50px 20px;
    background-color: #fdfdfd;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    border-radius: 8px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;       /* Makes it block-level */
    margin-left: auto;    /* Centers the image horizontally */
    margin-right: auto;   /* Centers the image horizontally */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 20px;
}

.bio {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.latest-news {
    text-align: left;
    margin-top: 50px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #111;
    font-weight: 600;
    margin-top: 30px;
}

.latest-news ul {
    list-style-type: none;
    padding: 0;
}

.latest-news ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

.latest-news ul li span {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 20px;
}

.cv-link {
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
}

.cv-link i {
    margin-left: 5px; /* Adds space between the text and the icon */
    font-size: 1rem;  /* Adjusts the icon size */
}

.cv-link:hover {
    color: #555;  /* Change color on hover */
}

.cv-link:hover i {
    color: #555;  /* Change icon color on hover */
}
